$PRIMARY_COLOR: #003a99; // Dark Blue
$SECONDARY_COLOR: #fcfcfc; // Off White

$PRIMARY_TO_FADE: #0050b2; // Slightly lighter blue than $PRIMARY_COLOR

$ELEMENT_UI_DEFAULT_BORDER: #dcdfe6; // Used to overwrite the green success border




/* Mixins */
@mixin smallScreenSize() {
  @media only screen and (max-width: 500px) {
    @content;
  }
}

@mixin checkMaxScreenSize($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}
