$PRIMARY_COLOR: #1b5ac1; // Dark Blue
$PRIMARY_TO_FADE: #2577db; // Slightly lighter blue than $PRIMARY_COLOR
$SECONDARY_COLOR: #fcfcfc; // Off White
$ELEMENT_UI_DEFAULT_BORDER: #dcdfe6; // Used to overwrite the green success border]
$HOVER_GREY: #cacaca;
$HOVER_LIGHT_GREY: #e0e0e0;
$VERY_LIGHT_GREY: #f7f7f7;
$CANCELLED_RED: #ce4242;
$LIGHT_CANCELLED_RED: #ffa3a3;
$DARK_TEXT: #2c3e50;

// Global Classes
.lightGreyBackground{
  background: $HOVER_LIGHT_GREY;
}


/* Mixins */
@mixin smallScreenSize() {
  @media only screen and (max-width: 500px) {
    @content;
  }
}

@mixin checkMaxScreenSize($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}
